<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-footer">
 <br />

  &nbsp;
  &nbsp;
  <%= link_to "View My Library", pictures_path %>
  &nbsp;
  &nbsp;
  <%= link_to "View My People", users_path %>
  &nbsp;
  &nbsp;
  <%= link_to "Upload Photo", new_picture_path %>
   &nbsp;
  &nbsp;
  <% if current_user != nil %>
    <%= link_to "View Profile", user_path(current_user) %>
  <% end %>


  </div>
</div>
</nav>
