<h1> Epipictures! </h1>
<h3> Your Photo Library </h3>
<div class="well">
<ul class="list-unstyled">


<% current_user.pictures.each do |picture| %>

<li class="photos"><%= link_to image_tag(picture.photo.url(:medium)), picture_path(picture) %></li>




<% end %>
</ul>

</div>

