<h1> Hello World </h1>
<ul class="list-unstyled">


<% current_user.pictures.each do |picture| %>

<li class="photos"><%= link_to image_tag(picture.photo.url(:medium)), picture_path(picture) %></li>




<% end %>
</ul>


