.user_name {
  margin-right: 0px;
}

.container {
  margin-top: 33px;
  padding-bottom: 50px;
}

.the_flash {
  margin-top: 33px;
}

li.photos {
  display: inline;

}
.well {
  width: 85%;
  text-align: center;
}
